{% macro allianceSelectOptions(note, station1, station2, station3) %}
    <select name="note{{note}}" id="note{{note}}" class="form-select" aria-label="Note {{note}}">
        <option value="None">None</option>
        <option value="{{station1}}">{{station1}}</option>
        <option value="{{station2}}">{{station2}}</option>
        <option value="{{station3}}">{{station3}}</option>
    </select>
{% endmacro %}
{% macro redAutonomousScoringSide(station1, station2, station3)%}
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(4, station1, station2, station3)}}
    </td>
    <td rowspan="5" class="text-center align-middle" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(1, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(5, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(2, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(6, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(3, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(7, station1, station2, station3)}}
    </td>
    <td rowspan="2" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(8, station1, station2, station3)}}
    </td>
</tr>
{% endmacro %}
{% macro blueAutonomousScoringSide(station1, station2, station3)%}
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(1, station1, station2, station3)}}
    </td>
    <td rowspan="5" class="text-center align-middle" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(4, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(2, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(5, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(3, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(6, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td rowspan="2" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(7, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(8, station1, station2, station3)}}
    </td>
    
</tr>
{% endmacro %}
{% macro redAutonomousNonScoringSide(station1, station2, station3)%}
<tr>
    <td rowspan="2" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
    <td rowspan="5" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(8, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(7, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(3, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(6, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(2, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(5, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(1, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(4, station1, station2, station3)}}
    </td>
</tr>
{% endmacro %}
{% macro blueAutonomousNonScoringSide(station1, station2, station3)%}
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(8, station1, station2, station3)}}
    </td>
    <td rowspan="5" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
    <td rowspan="2" style="background-color: rgba(0, 0, 0, 0);">
        
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(7, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(6, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(3, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(5, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(2, station1, station2, station3)}}
    </td>
</tr>
<tr>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(4, station1, station2, station3)}}
    </td>
    <td style="background-color: rgba(0, 0, 0, 0);">
        {{allianceSelectOptions(1, station1, station2, station3)}}
    </td>
</tr>
{% endmacro %}
