{% macro render_field(field, teams) %}
<div class="col">
    <dt>{{ field.label }}<br/>
        <dd>{{ field(list="teams-at-event")|safe }}
            {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </dd>
        <datalist id="teams-at-event">
        {% for team in teams %}
        <option value="{{team.teamNumber}}"></option>
        {% endfor %}
        </datalist>
</div>
{% endmacro %}
{% macro render_field_superscout(matchNumbers) %}
<div class="col text-center">
    <select name="matchNumber" id="matchNumber" class="form-control input-sm text-center">
        {% for match in matchNumbers %}
            <option class="form-control text-center" value="{{match}}">Match #{{match}}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}