{% macro matchData(match, team) %}
    {% if team != None %}
    <th scope="row" class="text-end">{{match.matchLevel}}</th>
    <th scope="row" class="text-center"><a href="/teamMatchBreakdown/{{team}}/{{match.eventKey}}/{{match.matchNumber}}/{{match.matchLevel}}">{{match.matchNumber}}</a></th>
    {% endif %}
    <td scope="row" class="text-center">{{match.auto_speaker}}</td>
    <td scope="row" class="text-center">{{match.auto_amp}}</td>
    {% if match.auto_leave == 1 %}
    <td class="table-success text-center">
        <i class="bi bi-check"></i>
    </td>
    {% elif match.auto_leave == 0 %}
    <td class="table-danger text-center">
        <i class="bi bi-x"></i>
    </td>
    {% else %}
    <td scope="row" class="text-center">{{match.auto_leave}}</td>
    {% endif %}
    <td scope="row" class="text-center">{{match.tele_speaker}}</td>
    <td scope="row" class="text-center">{{match.tele_amp}}</td>
    <td scope="row" class="text-center">{{match.trap}}</td>
    {% if match.climb == -1 %}
    <td scope="row" class="text-center table-secondary">N/A</td>
    {% elif match.climb == 0 %}
    <td scope="row" class="text-center table-danger">FAIL</td>
    {% else %}
    <td scope="row" class="text-center table-success">{{match.climb}}</td>
    {% endif %}
    <td scope="row" class="text-center">{{match.defense}}</td>
    <td scope="row" class="text-center">{{match.broken}}</td>
{% endmacro %}
{% macro gameSpecificHeaders() %} 
    <tr>

        <th scope="col" rowspan="2" style="width: 5%">Match Level</th>
        <th scope="col" rowspan="2" class="text-center" style="width: 5%">Match #</th>
        <th scope="col" colspan="3" class="text-center">Auto</th>
        <th scope="col" colspan="2" class="text-center">Teleop</th>
        <th scope="col" colspan="2" class="text-center">Endgame</th> 
        <th scope="col" colspan="2" class="text-center">Misc.</th>
    </tr>
    <tr>
        <th scope="col" class="text-center" style="width: 8%">Speaker</th>
        <th scope="col" class="text-center" style="width: 8%">Amp</th>
        <th scope="col" class="text-center" style="width: 8%">Leave</th>
        <th scope="col" class="text-center" style="width: 8%">Speaker</th>
        <th scope="col" class="text-center" style="width: 8%">Amp</th>
        <th scope="col" class="text-center" style="width: 8%">Trap</th>
        <th scope="col" class="text-center" style="width: 8%">Climb</th>
        <th scope="col" class="text-center" style="width: 8%">Defense</th>
        <th scope="col" class="text-center" style="width: 8%">Broken?</th>
    </tr>
{% endmacro %}
{% macro teamPreview(driverStation, team, matchesPlayed) %}
    <div style="page-break-inside:avoid;">
        <h4><a class="link-dark" href="/teamBreakdown/{{team.teamNumber}}">{{ driverStation }}: {{ team.teamNumber }} - {{ team.teamName }}</a></h4>
        <table class="table table-bordered">
            <thead>
                <tr>  
                    {{gameSpecificHeaders()}}
                </tr>
            </thead>
            <tbody>
                {% for match in matchesPlayed %}
                <tr>
                    {{matchData(match, team.teamNumber)}}
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row" colspan="2" class="table-secondary text-end">
                        Averages:
                    </th>
                    {% if team.getAverages() != None %}
                    {{matchData(team.getAverages(), None)}}
                    {% else %}
                    <td colspan="9" class="text-center table-warning">
                        No averages to report
                    </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% endmacro %}
    {% macro teamReview(driverStation, teamNumber, teamName, matchPlayed) %}
    <h4>{{ driverStation }}: {{ teamNumber }} - {{ teamName.teamName }}</h4>
    <table class="table">
        <thead>
            <tr>  
                {{gameSpecificHeaders()}}
            </tr>
        </thead>
        <tbody>
            {% if matchPlayed != None %}
            <tr>
                {{matchData(matchPlayed, teamNumber)}}
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="table-warning">
                    No data recorded
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endmacro %}
{% macro teamListings(teams) %}
<table class="table">
    <thead>
        <th scope="col" class="text-end">Team Number</th>
        <th scope="col" class="text-center">Team Name</th>
        <th scope="col" class="text-center">Matches Played</th>
        <th scope="col" class="text-center">Pit Scouted?</th>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <th scope="row" class="text-end">
                <a class="link-dark" href="/teamBreakdown/{{team.teamNumber}}">
                    {{team.teamNumber}}
                </a>
            </th>
            <td>{{team.teamName}}</td>
            {% if team.allMatchesScouted() %}
            <td class="table-success text-center">
            {% elif team.getMatchesToPlay() == 0 %}
            <td class="text-center">
            {% elif team.getMatchesPlayed() == 0 %}
            <td class="table-danger text-center">
            {% else %}
            <td class="table-warning text-center">
            {% endif %}
                {{team.getMatchesPlayed()}}/{{team.getMatchesToPlay()}}
            </td>
            {% if team.hasPitScoutData() %}
            <td class="table-success text-center">
                <i class="bi bi-check"></i>
            </td>
            {% else %}
            <td class="table-warning text-center">
                <i class="bi bi-x"></i>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
{% macro pitScoutData(team, pitData) %}
<table class="table">
    <thead>
        <th scope="col" colspan="2" class="text-center table-secondary">Team {{team.teamNumber}} Pit Data</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                Drivetrain
            </th>
            <td>
                {{pitData.drivetrain}}
            </td>
        </tr>
        <tr>
            <th scope="row">
                Programming
            </th>
            <td>
                {{pitData.programmingLanguage}}
            </td>
        </tr>
        <tr>
            <th scope="row">
                Driveteam
            </th>
            {% if pitData.driveteam == 0 %}
            <td class="table-warning text-center">
                <i class="bi bi-x"></i>
            {% else %}
            <td class="table-success text-center">
                <i class="bi bi-check"></i>
            {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endmacro %}
