{% macro matchData(match, team) %}
    {% if team != None %}
    <th scope="row" rowspan="2" class="text-end align-middle">{{match.matchLevel}}</th>
    <th scope="row" rowspan="2" class="text-center align-middle"><a href="/teamMatchBreakdown/{{team}}/{{match.eventKey}}/{{match.matchNumber}}/{{match.matchLevel}}">{{match.matchNumber}}</a></th>
    {% endif %}
    <td scope="row" class="text-center">{{match.getCoralScored(1, True)}}</td>
    <td scope="row" class="text-center">{{match.getCoralScored(2, True)}}</td>
    <td scope="row" class="text-center">{{match.getCoralScored(3, True)}}</td>
    <td scope="row" class="text-center">{{match.getCoralScored(4, True)}}</td>
    <td scope="row" class="text-center">{{match.aP}}</td>
    <td scope="row" class="text-center">{{match.aN}}</td>
    <td scope="row" class="text-center">{{match.getAlgaeRemoved(2, True)}}</td>
    <td scope="row" class="text-center">{{match.getAlgaeRemoved(3, True)}}</td>
    {% if match.endgameShallow == 0 %}
    <td rowspan="2" scope="row" class="text-center align-middle table-warning">FAIL</td>
    {% elif match.endgameShallow == 1 %}
    <td rowspan="2" scope="row" class="text-center align-middle table-success">CLIMBED</td>
    {% else %}
    <td rowspan="2" scope="row" class="text-center align-middle table-success">{{match.endgameShallow}}</td>
    {% endif %}
    {% if match.endgameDeep == 0 %}
    <td rowspan="2" scope="row" class="text-center align-middle table-warning">FAIL</td>
    {% elif match.endgameShallow == 1 %}
    <td rowspan="2" scope="row" class="text-center align-middle table-success">CLIMBED</td>
    {% else %}
    <td rowspan="2" scope="row" class="text-center align-middle table-success">{{match.endgameDeep}}</td>
    {% endif %}
</tr>
<tr>
    <td scope="row" class="text-center">{{match.getCoralScored(1, False)}}</td>
    <td scope="row" class="text-center">{{match.getCoralScored(2, False)}}</td>
    <td scope="row" class="text-center">{{match.getCoralScored(3, False)}}</td>
    <td scope="row" class="text-center">{{match.getCoralScored(4, False)}}</td>
    <td scope="row" class="text-center">{{match.tP}}</td>
    <td scope="row" class="text-center">{{match.tN}}</td>
    <td scope="row" class="text-center">{{match.getAlgaeRemoved(2, False)}}</td>
    <td scope="row" class="text-center">{{match.getAlgaeRemoved(3, False)}}</td>
{% endmacro %}
{% macro matchBreakdownData(match, team, alliance, station) %}
    {% if alliance == True %}
    <th scope="row" class="table-danger text-end">
        Red {{station}}:
    {% else %}
    <th scope="row" class="table-primary text-end">
        Blue {{station}}:
    {% endif %}
    </th>
    {{ matchData(match, team) }}
{% endmacro %}
{% macro averages(match, team) %}
     
        <td scope="row" class="text-center">{{match.aL1C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.aL2C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.aL3C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.aL4C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.aProc|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.aNet|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.aL2A|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.aL3A|round(1, 'floor')}}</td>
        <td scope="row" rowspan="2" class="text-center align-middle">{{match.endgameShallow|round(1, 'floor')}}</td>
        <td scope="row" rowspan="2" class="text-center align-middle">{{match.endgameDeep|round(1, 'floor')}}</td>
        {% if team != None %}
        <td scope="row" rowspan="2" class="text-center align-middle table-secondary">N/A</td>
        {% else %}
        <td scope="row" rowspan="2" class="text-center align-middle">{{ match.scoreMatch()|round(1, 'floor') }}</td>
        {% endif %}
    </tr>
    <tr> 
        <td scope="row" class="text-center">{{match.tL1C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.tL2C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.tL3C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.tL4C|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.tProc|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.tNet|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.tL2A|round(1, 'floor')}}</td>
        <td scope="row" class="text-center">{{match.tL3A|round(1, 'floor')}}</td>
{% endmacro %}
{% macro gameSpecificHeaders() %} 
    <tr>

        <th scope="col" rowspan="3" style="width: 5%">Match Level</th>
        <th scope="col" rowspan="3" class="text-center" style="width: 5%">Match #</th>
        <th scope="col" colspan="4" class="text-center">Auto Coral</th>
        <th scope="col" colspan="4" class="text-center">Auto Algae</th>
        <th scope="col" rowspan="2" colspan="2" class="text-center align-middle">Endgame</th> 
    </tr>
    <tr>
        <th scope="col" colspan="4" class="text-center">Teleop Coral</th>
        <th scope="col" colspan="4" class="text-center">Teleop Algae</th>
    </tr>
    <tr>
        <th scope="col" class="text-center">L1</th>
        <th scope="col" class="text-center">L2</th>
        <th scope="col" class="text-center">L3</th>
        <th scope="col" class="text-center">L4</th>
        <th scope="col" class="text-center">Processor</th>
        <th scope="col" class="text-center">Net</th>
        <th scope="col" class="text-center">L2</th>
        <th scope="col" class="text-center">L3</th>
        <th scope="col" class="text-center">Shallow</th>
        <th scope="col" class="text-center">Deep</th>
    </tr>
{% endmacro %}
{% macro teamPreview(driverStation, team, matchesPlayed) %}
<div style="page-break-inside:avoid;">
    <h4><a class="link-dark" href="/teamBreakdown/{{team.teamNumber}}">{{ driverStation }}: {{ team.teamNumber }} - {{ team.teamName }}</a></h4>
    <table class="table table-bordered">
        <thead>
            <tr>  
                {{gameSpecificHeaders()}}
            </tr>
        </thead>
        <tbody>
            {% for match in matchesPlayed %}
            <tr>
                {{matchData(match, team.teamNumber)}}
            </tr>
            {% endfor %}
            <tr>
                <th scope="row" rowspan="2" colspan="2" class="table-secondary text-end align-middle">
                    Averages:
                </th>
                {% if team.getAverages() != None %}
                {{ averages(team.getAverages(), team) }}
                {% else %}
                <td colspan="9" class="text-center table-warning">
                    No averages to report
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}
{% macro predictionHelper(team, redAlliance, station) %}
<tr>
    {% if redAlliance == True %}
    <th scope="row" rowspan="2" class="table-danger text-end align-middle">
        Red {{station}}:
    {% else %}
    <th scope="row" rowspan="2" class="table-primary text-end align-middle">
        Blue {{station}}:
    {% endif %}
    </th>
    <th scope="row" rowspan="2" class="text-center align-middle"><a href="/teamBreakdown/{{team.teamNumber}}">{{team.teamNumber}}</a></th>
    {% if team.getAverages() != None %}
    {{averages(team.getAverages(), team)}}
    {% else %}
    <td colspan="11" rowspan="2" class="text-center table-warning">
        No averages to report
    </td>
    <tr>

    </tr>
    {% endif %}
</tr>
{% endmacro %}
{% macro predictionHelperAlliance(tN, redAlliance) %}
<tr>
    {% if redAlliance %}
    <th scope="row" rowspan="2" colspan="2" class="text-center table-danger align-middle">Red Alliance</th>
    {{ averages(tN.getRedAllianceAverage(), None)}}
    {% else %}
    <th scope="row" rowspan="2" colspan="2" class="text-center table-primary align-middle">Blue Alliance</th>
    {{ averages(tN.getBlueAllianceAverage(), None )}}
    {% endif %}
    
</tr>
{% endmacro %}
{% macro matchPrediction(tN) %}
<div style="page-break-inside:avoid; page-break-after:always">
    <h4 class="text-center">Match Prediction</h4>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th scope="col" rowspan="3" class="align-middle" style="width: 5%">Driver</br> Station</th>
                <th scope="col" rowspan="3" class="text-center align-middle" style="width: 5%">Team #</th>
                <th scope="col" colspan="4" class="text-center">Auto Coral</th>
                <th scope="col" colspan="4" class="text-center">Auto Algae</th>
                <th scope="col" rowspan="2" colspan="2" class="text-center align-middle">Endgame</th> 
                <th scope="col" rowspan="3" class="text-center align-middle">Score</th>
            </tr>
            <tr>
                <th scope="col" colspan="4" class="text-center">Teleop Coral</th>
                <th scope="col" colspan="4" class="text-center">Teleop Algae</th>
            </tr>
            <tr>
                <th scope="col" class="text-center">L1</th>
                <th scope="col" class="text-center">L2</th>
                <th scope="col" class="text-center">L3</th>
                <th scope="col" class="text-center">L4</th>
                <th scope="col" class="text-center">Processor</th>
                <th scope="col" class="text-center">Net</th>
                <th scope="col" class="text-center">L2</th>
                <th scope="col" class="text-center">L3</th>
                <th scope="col" class="text-center">Shallow</th>
                <th scope="col" class="text-center">Deep</th>
            </tr>
        </thead>
        <tbody>
            {{predictionHelper(tN.red1, True, 1)}}
            {{predictionHelper(tN.red2, True, 2)}}
            {{predictionHelper(tN.red3, True, 3)}}
            {{predictionHelper(tN.blue1, False, 1)}}
            {{predictionHelper(tN.blue2, False, 2)}}
            {{predictionHelper(tN.blue3, False, 3)}}
            {{predictionHelperAlliance(tN, True)}}
            {{predictionHelperAlliance(tN, False)}}
        </tbody>
    </table>
</div>
{% endmacro %}
{% macro teamReview(driverStation, teamNumber, teamName, matchPlayed) %}
<h4 class="text-center">{{ driverStation }}: {{ teamNumber }} - {{ teamName.teamName }}</h4>
<table class="table">
    <thead>
        <tr>  
            {{gameSpecificHeaders()}}
        </tr>
    </thead>
    <tbody>
        {% if matchPlayed != None %}
        <tr>
            {{matchData(matchPlayed, teamNumber)}}
        </tr>
        {% else %}
        <tr>
            <td colspan="3" class="table-warning">
                No data recorded
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endmacro %}
{% macro teamListings(teams) %}
<table class="table">
    <thead>
        <th scope="col-3" class="text-end">Team Number</th>
        <th scope="col-3" class="text-center">Team Name</th>
        <th scope="col-2" class="text-center">Matches Played</th>
        <th scope="col-2" class="text-center">SuperScouted<br/>Matches</th>
        <th scope="col-2" class="text-center">Pit Scouted?</th>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <th scope="row" class="text-end">
                <a class="link-dark" href="/teamBreakdown/{{team.teamNumber}}">
                    {{team.teamNumber}}
                </a>
            </th>
            <td>{{team.teamName}}</td>
            {% if team.allMatchesScouted() %}
            <td class="table-success text-center">
            {% elif team.getMatchesToPlay() == 0 %}
            <td class="text-center">
            {% elif team.getMatchesPlayed() == 0 %}
            <td class="table-danger text-center">
            {% else %}
            <td class="table-warning text-center">
            {% endif %}
                {{team.getMatchesPlayed()}}/{{team.getMatchesToPlay()}}
            </td>
            {% if team.allMatchesSuperScouted() %}
            <td class="table-success text-center">
            {% elif team.getMatchesToPlay() == 0 %}
            <td class="text-center">
            {% elif team.getSuperScoutMatchesPlayed() == 0 %}
            <td class="table-danger text-center">
            {% else %}
            <td class="table-warning text-center">
            {% endif %}
                {{team.getSuperScoutMatchesPlayed()}}/{{team.getMatchesToPlay()}}
            </td>
            {% if team.hasPitScoutData() %}
            <td class="table-success text-center">
                <i class="bi bi-check"></i>
            </td>
            {% else %}
            <td class="table-warning text-center">
                <i class="bi bi-x"></i>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
{% macro pitScoutData(team, pitData) %}
<table class="table">
    <thead>
        <th scope="col" colspan="2" class="text-center table-secondary">Team {{team.teamNumber}} Pit Data</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                Drivetrain
            </th>
            <td>
                {{pitData.drivetrain}}
            </td>
        </tr>
        <tr>
            <th scope="row">
                Programming
            </th>
            <td>
                {{pitData.programmingLanguage}}
            </td>
        </tr>
        <tr>
            <th scope="row">
                Driveteam
            </th>
            {% if pitData.driveteam == 0 %}
            <td class="table-warning text-center">
                <i class="bi bi-x"></i>
            {% else %}
            <td class="table-success text-center">
                <i class="bi bi-check"></i>
            {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endmacro %}

