{% from 'macros/sitewide.html' import htmlHead, navBar %}
<!DOCTYPE html> 
<head> 
    {{htmlHead()}}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type="text/javascript"> $(function() { $("#clearEventDataButton").click(function (event) { $.getJSON('/clearEventData', { },
        function(data) { }); return false; }); }); </script>  
    <script type="text/javascript"> $(function() { $("#importMatchData").click(function (event) { $.getJSON('/importMatchData', { },
        function(data) { }); return false; }); }); </script>  
    <script type="text/javascript"> $(function() { $("#importSuperScoutData").click(function (event) { $.getJSON('/importSuperScoutData', { },
        function(data) { }); return false; }); }); </script>  
    <script type="text/javascript"> $(function() { $("#importAutonomousData").click(function (event) { $.getJSON('/importAutonomousData', { },
        function(data) { }); return false; }); }); </script>  
        <title>ADMIN</title> 
</head>
<body>
      {{navBar()}}
      
      <div class="container">
        <div class="row text-center">
                <h3>Admin</h3>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6 text-center">
                        <h4>Exports</h4>
                        <div class="row m-1">
                            <a id="exportEventData" download="dataDump.csv" href="/exportEventData" role="button" class="btn btn-info m-1">Export Active Event Match Data</a>
                        </div>
                        <div class="row m-1">
                            <a id="exportSuperScoutEventData" download="qualitativeDataDump.csv" href="/exportQualitativeEventData" role="button" class="btn btn-info m-1">Export Active Event SuperScout Data</a>
                        </div>
                        <div class="row m-1">
                            <a id="exportAutonomousEventData" download="autonomousDataDump.csv" href="/exportAutonomousEventData" role="button" class="btn btn-info m-1">Export Active Event Autonomous Data</a>
                        </div>
                        <br/>
                        <div class="row m-1">
                            <a id="exportMatchSchedule" download="matchSchedule.csv" href="/exportMatchSchedule" role="button" class="btn btn-info m-1">Export Active Match Schedule</a>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <h4>Imports</h4>
                        <div class="row m-1">
                            <button id="importMatchData" class="btn btn-info m-1">Import Match Data</a>
                        </div>
                        <div class="row m-1">
                            <button id="importSuperScoutData" class="btn btn-info m-1">Import SuperScout Data</a>
                        </div>
                        <div class="row m-1">
                            <button id="importAutonomousData" class="btn btn-info m-1">Import Autonomous Data</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br/>
                    <br/>
                    <br/>
                    <button id="clearEventDataButton" class="btn btn-danger m-1">Clear Active Event Data</button> <br/>
                </div>
            </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
